<div class="container">
  <h1>Add a new list</h1>
  <div class="container mt-3">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.submit class:"btn btn-primary mt-2"%>
    <% end %>
  </div>
</div>
