<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/chenchen_hamster/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/ChenchenZheng"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/chenchen-zheng/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by Chenchen with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
